.inline-code{color:#1F6627;display:inline-block;box-shadow:0 1px 2px rgba(0, 0, 0, 0.09) inset;padding:1px 5px;border-radius:3px;border:1px #E8E3E3 solid;background:#eee;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-moz-ms-sizing:border-box;box-sizing:border-box;}
div.caption{}