/* Roboto Slab Font (regular, bold) (latin, cyrillic)
---------------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,700,700italic,500,500italic&subset=latin,cyrillic);

/* Reset
---------------------------------------------------------------*/

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background:transparent;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}h1{font-size:2em;margin:0.67em 0;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}pre{overflow:auto;}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}input{line-height:normal;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}textarea{overflow:auto;}optgroup{font-weight:bold;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}.clearfix{display:inline-block;}* html .clearfix{height:1%;}.clearfix{display:block;}

/* Grid System
---------------------------------------------------------------*/

.grid-wrap{margin-left:-3em;clear:both;}.grid-col{float:left;padding-left:3em;width:100%;display:inline-block;zoom:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.large-gutter{margin-left:-6em;}.large-gutter .grid-col{padding-left:6em;}.half-gutter{margin-left:-1.5em;}.half-gutter .grid-col{padding-left:1.5em;}.no-gutter{margin-left:0;}.no-gutter .grid-col{padding-left:0;}.reset-gutter{margin-left:-3em;}.reset-gutter .grid-col{padding-left:3em;}ul.grid-wrap,ol.grid-wrap{padding-left:0;list-style:none;}li.grid-col{margin-left:0;margin-bottom:0;}.col-full,.col-set-full .grid-col{width:100%;}.col-one-half,.col-set-one-half .grid-col{width:50%;}.col-one-third,.col-set-one-third .grid-col{width:33.333%;}.col-one-quarter,.col-set-one-quarter .grid-col{width:25%;}.col-two-thirds{width:66.666%;}.col-three-quarters{width:75%;}

/* Main Tools
---------------------------------------------------------------*/

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
	
	background: #fff;
	font: 100%/120% Arial, "Nimbus Sans L", Helvetica, sans-serif;
	color: #333;
}

#content{
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

a, a:link, a:active, a:visited {
	text-decoration: underline;
	color: #0d6dab;
}

a:hover {
	color: #e52626;
	text-decoration: none;
}

input:focus,
textarea:focus,
button:focus,
.btn:focus {
	outline: none;
}

h1, h2, h3, h4, h5,
#topline ul.menu > li > a,
#topline ul.menu > li > span,
.user-name,
.best-joomla strong.red,
.best-joomla a,
#footer .footer-links a,
#footer .rights-info strong,
#footer .rights-info p {
	font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight: 500;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
	text-decoration: none !important;
}

h2 {
	font-size: 2.400em;
	line-height: 1.1em;
	margin: 0 0 0.5em;
}

h3 {
	font-size: 1.500em;
	line-height: 1.1em;
	margin: 0 0 0.8em;
}

body *::-moz-selection {
	background: #0d6dab;
	color: #fff;
}

body *::-webkit-selection {
	background: #0d6dab;
	color: #fff;
}

body *::selection {
	background: #0d6dab;
	color: #fff;
}

::-webkit-input-placeholder { /* WebKit browsers */
  line-height: 1.125em;
}

.gray, .gray a {
	color: #dce4ea !important;
}

.block {
	display: block;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

/* SVG
---------------------------------------------------------------*/

html.svg .svg {
	display: inline-block;
	position: relative;
}

html.svg .svg.svg-logo {
	width: 29px;
	height: 29px;
	float: right;
	margin-top: 14px;
}

html.svg #topline ul.menu > li > a, 
html.svg #topline ul.menu > li > span {
	background: none !important;
}

html.svg .svg.svg-pen {
	width: 15px;
	height: 15px;
	fill: #91CEEE;
	position: absolute;
	top: 10px;
	left: 12px;
}
html.svg .svg.svg-date {
	width: 14px;
	height: 14px;
	fill: #91CEEE;
	position: absolute;
	top: 10px;
	left: 13px;
}
html.svg .svg-book {
	width: 17px;
	height: 17px;
	fill: #91CEEE;
	position: absolute;
	top: 9px;
	left: 13px;
}
html.svg .svg-pazzle {
	width: 18px;
	height: 17px;
	fill: #91CEEE;
	position: absolute;
	top: 9px;
	left: 13px;
}
html.svg .svg-tip {
	width: 16px;
	height: 16px;
	fill: #91CEEE;
	position: absolute;
	top: 10px;
	left: 13px;
}
html.svg .svg-cross {
	width: 8px;
	height: 8px;
	fill: #000;
	position: absolute;
	top: 7px;
	right: 0;
}

html.svg .svg-noimage {
	width: 180px;
	height: 100px;
	fill: #DCE4EA;
}
html.svg .svg-link {
	width: 16px;
	height: 16px;
	fill: #5E6773;
	position: absolute;
	left: 21px;
	top: 31px;
}

html.svg .svg-bookmark {
	width: 16px;
	height: 16px;
	fill: #5E6773;
	position: absolute;
	left: 26px;
	top: 31px;
}

html.svg .svg-search {
	width: 12px;
	height: 12px;
	fill: #5C6671;
	position: absolute;
	left: 15px;
	top: 14px;
}

html.svg .svg-news {
	width: 26px;
	height: 20px;
	fill: #DCE4EA;
	position: absolute;
	left: -2px;
	top: 1px;
}

html.svg .svg-talk {
	width: 90px;
	height: 77px;
	fill: #FCD471;
	position: absolute;
	left: 43px;
	top: 3px;
}

html.svg .svg-image {
	width: 54px;
	height: 48px;
	fill: #DCE4EA;
	position: absolute;
	left: 60px;
	top: 6px;
}

html.svg .svg-note {
	width: 17px;
	height: 17px;
	fill: #5AA426;
	position: absolute;
	top: 2px;
	left: -2px;
}

html.svg .svg-rss {
	width: 14px;
	height: 14px;
	fill: #DCE4EA;
	position: relative;
	bottom: 1px;
}

html.svg .svg-toggle {
	width: 9px;
	height: 9px;
	fill: #FC8F30;
	position: absolute;
	top: 5px;
	left: 3px;
}

html.svg .svg-share {
	width: 13px;
	height: 15px;
	fill: #c8d8e4;
}
html.svg .svg-mail {
	width: 13px;
	height: 10px;
	fill: #c8d8e4;
}
html.svg .svg-star {
	width: 13px;
	height: 13px;
	fill: #c8d8e4;
}
html.svg .svg-tip-black {
	width: 16px;
	height: 16px;
	fill: #DCE4EA;
	position: absolute;
	left: -24px;
	top: 2px;
}

html.svg .svg-alert {
	width: 18px;
	height: 18px;
	fill: #dd4923;
}

html.svg .svg-hamb {
	width: 33px;
	height: 33px;
	fill: #a4afbe;
}
html.svg .svg-att {
	width: 21px;
	height: 21px;
	fill: #DD4923;
	bottom: 2px;
	right: 2px;
}

html.svg .svg-like,
html.svg .svg-dislike {
	width: 16px;
	height: 16px;
	fill: #666666;
}

html.svg .svg-joomla {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 1px;
	left: 1px;
}

html.svg .svg-login {
	width: 13px;
	height: 15px;
	fill: #91CEEE;
	top: 12px;
	position: absolute;
	left: 13px;
}

html.svg .svg-top-joomla {
	width: 16px;
	height: 16px;
	fill: #91CEEE;
	position: absolute;
	top: 10px;
	left: 13px;
}

html.svg .svg-social .svg {
	width: 23px;
	height: 23px;
}

html.svg .svg-social-link {
	fill: #253f59;
}

html.svg .svg-social-vk {
	fill: #406387;
}

html.svg .svg-social-twitter {
	fill: #00a6ea;
}

html.svg .svg-social-joomla {
	fill: #2375ab;
}

html.svg .svg-social-googleplus {
	fill: #c7301e;
}

html.svg .svg-social-facebook {
	fill: #3f5495;
}

html.no-svg  #topline .user-block.login-block .login-btn:after {
	content: "";
	position: absolute;
	top: 12px;
	left: 13px;
	width: 13px;
	height: 14px;
	background: url(../images/ico/login.png) no-repeat;
}

html.no-svg .svg {
	display: none;
}

html.no-svg #topline .logo span,
html.no-svg #topline .logo small {
	display: none;
}

html.no-svg #topline .logo {
	background: url(../images/logo.png) no-repeat 100% 14px;
}

html.no-svg #topline .top-close:after {
	background: url(../images/ico/close-top.png) no-repeat;
}

html.no-svg #header .header-panel-download {
	background: url(../images/ico/download.png) no-repeat 21px 31px;
}

html.no-svg header .header-panel-docs {
	background: url(../images/ico/docs.png) no-repeat 26px 31px;
}

html.no-svg #header .header-panel-search input[type=text],
html.no-svg .category-search  input[type=text] {
	background: url(../images/ico/search.png) no-repeat 15px 14px;
}

html.no-svg #news-line .news-line-first {
	background: url(../images/ico/news-line.png) no-repeat 0 3px;
}

html.no-svg #bottom .bottom-item.forum {
	background: url(../images/ico/bottom-forum.png) no-repeat 0 9px;
}

html.no-svg #bottom .bottom-item {
	background: url(../images/ico/bottom.png) no-repeat 15px 9px;
}

html.no-svg .best-joomla .docs-joomla:before {
	background: url(../images/ico/bottom.png) no-repeat 15px 9px;
}

html.no-svg .portal-news a.rss {
	background: url(../images/ico/rss-ico.png) no-repeat;
}

html.no-svg .best-joomla .slideup-block:before, 
html.no-svg .best-joomla .slidedown-block:before {
	background: url(../images/ico/close-ico.png) no-repeat;
}

html.no-svg #category li.item-comment a:before {
	background: url(../images/ico/comment.png) no-repeat;
}

html.no-svg .ico.alert {
	background: url(../images/ico/alert.png) no-repeat;
}

html.no-svg #topline .user-message,
html.no-svg #mobile-menu .user-message {
	background: url(../images/ico/message.png) no-repeat;
}

html.no-svg .best-joomla .download-joomla::before {
	background: url(../images/ico/joomla-ico.png) no-repeat;
}

html.no-svg #item .jpuserprofile-item-content .social a.website {
	background-image: url(../images/ico/social-link.png);
}

html.no-svg #item .jpuserprofile-item-content .social a.vkontakte {
	background-image: url(../images/ico/social-vk.png);
}

html.no-svg #item .jpuserprofile-item-content .social a.twitter {
	background-image: url(../images/ico/social-twitter.png);
}

html.no-svg #item .jpuserprofile-item-content .social a.joomlaforum {
	background-image: url(../images/ico/social-joomla.png);
}

html.no-svg #item .jpuserprofile-item-content .social a.google {
	background-image: url(../images/ico/social-googleplus.png);
}

html.no-svg #item .jpuserprofile-item-content .social a.facebook {
	background-image: url(../images/ico/social-facebook.png);
}

/* Top
---------------------------------------------------------------*/

#topline {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

#topline .message {
	padding: 8px 0;
	position: relative;
	background: url(../images/topline.png);
	font-size: 0.938em;
	text-align: center;
	color: #242321;
	display: none;
}

#topline .message-wrapper {
	margin-right: 95px;
	position: relative;
}

#topline .top-close {
	position: absolute;
	color: #242321;
	font-size: 0.8em;
	text-decoration: underline;
	cursor: pointer;
	right: 34px;
	top: 12px;
	padding-right: 17px;
}

#topline .top-close:after {
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	right: 0;
	top: 7px;
}

#topline .top-close:hover {
	text-decoration: none;
}

#topline .alert {
	top: 3px;
	margin-right: 7px;
}

#topline .button {
	margin-left: 40px;
}

#topline .topmenu {
	height: 62px;
	background: url(../images/topmenu.png) repeat-x;
}

#topline .logo {
	width: 205px;
	height: 59px;
	display: block;
	cursor: pointer;
	float: left;
	font: bold 22px/61px 'Fira Sans', sans-serif;
	text-decoration: none;
	color: #fff;
}

#topline .logo small {
	font: normal 10px/10px 'Roboto', sans-serif;
	color: #656A73;
	display: block;
	margin-top: -19px;
}

#topline ul.menu,
#topline ul.menu > li {
	height: 59px;
	margin: 0;
	float: left;
	display: inline-block;
	zoom: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#topline ul.menu > li {
	float: left;
	margin-left: 11px;
}

#topline ul.menu > li > a,
#topline ul.menu > li > span {
	height: 38px;
	color: #ffefc8;
	font-size:	1.125em;
	text-decoration: none;
	line-height: 37px;
	display: inline-block;
	position: relative;
	padding: 0 16px 0 35px;
	cursor: pointer;
	margin-top: 11px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px transparent solid;
	border-radius: 3px;
}

#topline ul.menu li > a:hover,
#topline ul.menu li > a.active,
#topline ul.menu li > span:hover,
#topline ul.menu li > span.active {
	border-color: #6589a0;
}

#topline ul.menu > li:nth-child(2) > a,
#topline ul.menu > li:nth-child(2) > span {
	background-position: 13px 8px !important;
}

@media screen and ( -webkit-min-device-pixel-ratio : 0 ) {
	#topline ul.menu > li:nth-child(1) > a,
	#topline ul.menu > li:nth-child(1) > span {
		background-position: 13px 10px !important;
	}
	
	html.svg .svg.svg-date {
		top: 10px;
	}	
	
	#topline ul.menu > li:nth-child(3) > a,
	#topline ul.menu > li:nth-child(3) > span {
		background-position: 13px 10px !important;
	}
	
	html.svg .svg-book {
		top: 8px;
	}	
	
	#topline ul.menu > li:nth-child(4) > a,
	#topline ul.menu > li:nth-child(4) > span {
		background-position: 13px 10px !important;
	}
	
	html.svg .svg-tip {
		top: 9px;
	}
}

#topline .submenu {
	width: 100%;
	padding: 0.5em 0;
	position: absolute;
	left: 0;
	top: 3.7em;
	background: #dce4ea;
	display: none;
	border-bottom: 1px #cfd6dc solid;
}

#topline .activeSubMenu {
	display: block !important;
}

#topline .submenu ul {
	padding: 0;
	list-style: none;
	font-size: 0.813em;
	line-height: 1em;
}

#topline .submenu li {
	float: left;
	display: inline-block;
	zoom: 1;
	position: relative;
}

#topline .submenu li:before {
	position: absolute;
	content: "";
	width: 1px;
	height: 12px;
	left: 0;
	top: 9px;
	background: #bbcfe2;
}

#topline .submenu li:first-child:before {
	display: none;
}

#topline .submenu a,
#topline .submenu span {
	padding: 7px 15px 8px;
	display: block;
	position: relative;
	border-radius: 2px;
}

#topline .submenu li:first-child a,
#topline .submenu li:first-child span {
	padding-left: 0;
}

#topline .submenu li:first-child a.active,
#topline .submenu li:first-child span.active {
	padding-left: 15px;
}

#topline ul.menu > li .submenu svg {
	display: none;
}

#topline ul.menu li .submenu li a.active {
	background: #fff;
	text-decoration: none;
}

#topline ul.menu li .submenu li a.active:after,
#topline ul.menu li .submenu li a.active:before {
	position: absolute;
	content: "";
	width: 1px;
	height: 100%;
	left: -1px;
	top: 0;
	background: #fff;
	z-index: 1;
}

#topline ul.menu li .submenu li a.active:after {
	left: auto;
	right: -1px;
}

#topline .user-block {
	min-width: 220px;
	position: relative;
	margin-left: 20px;
	cursor: pointer;
	float: right;
	padding: 0 10px;
}

#topline .user-block.login-block {
	padding-right: 0;
	min-width: auto;
}

#topline .user-block.login-block:before {
	display: none;
}

#topline .user-block.login-block .login-btn {
    float: right;
	height: 38px;
	color: #FFEFC8;
	font-size: 1.125em;
	text-decoration: none;
	line-height: 37px;
	display: inline-block;
	position: relative;
	padding: 0px 16px 0px 35px;
	cursor: pointer;
	margin-top: 11px;
	box-sizing: border-box;
	border: 1px solid transparent;
	border-radius: 3px;
	background: none;
}

#topline .user-block.login-block .login-btn:hover {
	background: none;
	color: #fff;
	border-color: #6589a0;
}

#topline .user-block.login-block .user-info {
	width: 300px;
	top: 60px;
	padding-top: 10px;
	cursor: auto;
}

#topline .user-block.login-block .user-info input[type=text],
#topline .user-block.login-block .user-info input[type=password] {
	width: 100%;
}

#topline .user-block.login-block .user-info .checkbox  label {
	cursor: pointer;
}

#topline .user-block.login-block .user-info .btn {
	margin-top: 1.2em;
	border: 0 none;
}

#topline .user-block.login-block .user-info .unstyled {
	padding: 0px;
	list-style: outside none none;
	margin: 1em 0px 0px;
}

#topline .user-block.login-block .user-info .unstyled li {
	display: inline-block;
	*zoom: 1;
	float: left;
	margin: 0 0.5em;
	font-size: 0.8em;
}

#topline .user-block.login-block .user-info .unstyled li:first-child {
	margin: 0;
}
 
#topline .user-block.opened {
	cursor: default;
} 

#topline .user-block:before,
#mobile-menu .user-block:before {
	content: "";
	position: absolute;
	top: 19px;
	left: -14px;
	width: 1px;
	height: 20px;
	background: #536175;
	cursor: default;
}

#topline .user-photo,
#mobile-menu .user-photo {
	width: 40px;
	height: 40px;
	overflow: hidden;
	float: left;
	display: inline-block;
	zoom: 1;
	border-radius: 50%;
	margin-top: 10px;
}

#topline .user-photo img,
#mobile-menu .user-photo img {
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50%;
}

#topline .user-message,
#mobile-menu .user-message {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 6px;
	left: 40px;
	z-index: 1;
}

#topline .user-name {
	display: inline-block;
	zoom: 1;
	color: #fff;
	line-height: 61px;
	margin-left: 10px;
}

#topline .user-info {
	position: absolute;
	top: 3px;
	right: 0;
	overflow: hidden;
	padding: 0 9px 10px;
	background: #fff;
	border: 1px #d2d1cb solid;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 0px rgba( 0, 0, 2, 0.2 );
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	z-index: 1;
	width: 100%;
}

#topline .user-block.opened .user-info {
	display: block;
}

#topline .user-info-header {
	margin-top: -4px;
	margin-bottom: 12px;
	position: relative;
	cursor: pointer;
}

#topline .user-info-header:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: calc(100% - 30px);
	height: 1px;
	margin: 0 15px;
	background: #eff6fb;
}

#topline .user-info .user-name,
#topline .user-info-block {
	color: #383734;
}

#topline .user-info-block {

}

#topline .user-info-label,
#mobile-menu .user-info-label {
	color: #a2a19c;
	font-size: 0.813em;
	display: block;
	margin: 5px 0;
}

#topline .user-info-block ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#topline .user-info-block li {
	font-size: 0.750em;
	line-height: 1.125em;
	margin-bottom: 0.7em;
}

#topline .user-info-block li.none {
	color: #a2a19c;
}

#topline .user-info-block .logout-button {
	border-top: 1px solid #EEE;
	margin-top: 15px;
	padding-top: 5px;
}

#topline .user-info-block .logout-button button {
	font-size: 0.8em;
	background: none;
	border: 0px none;
	text-decoration: underline !important;
	color: #0D6DAB !important;
	padding: 0px;
	border-radius: 0;
	box-sizing: content-box;
	outline: 0 none;
	min-width: 0;
	text-align: left;
	margin: 0;
}

#topline .user-info-block .logout-button button:hover {
	color: #E52626 !important;
	text-decoration: none !important;
}

#topline .hamburger-menu {
	float: right;
	width: 33px;
	height: 27px;
	cursor: pointer;
	margin: 8px 0 0px 0px;
	position: relative;
	display: none;
}

#topline .hamburger-menu .user-message {
	top: -2px;
	left: 30px;
}

/* Mobile Menu
---------------------------------------------------------------*/

#mobile-menu {
	position: relative;
	background: #384352;
	color: #fff;
	z-index: 100;
	display: none;
	top: 49px;
}

#mobile-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#mobile-menu li {
	margin-bottom: 3px;
	padding-bottom: 3px;
	border-bottom: 1px #4b5766 solid;
	float: none;
	display: block;
}

#mobile-menu ul > li span,
#mobile-menu ul > li a {
	text-decoration: none;
	color: #ffefc8;
	cursor: pointer;
	font: 1em 'Fira Sans', sans-serif;
	display: block;
	padding: 0.57em 1em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#mobile-menu li .submenu {
	position: relative;
	display: none;
}

#mobile-menu .submenu ul {
	font-size: inherit;
	line-height: inherit;
	color: #fff;
	margin-bottom: 1em;
}

#mobile-menu .submenu li {
	float: none;
	display: block;
	padding: 0 0 0 0.2em;
	border: 0 none;
}

#mobile-menu .submenu li:before {
	display: none;
}

#mobile-menu .submenu li a,
#mobile-menu .submenu li span {
	font: 0.8em "Fira Sans",sans-serif;
	padding: 0.4em 1.5em;
}

#mobile-menu .user-info-header,
#mobile-menu .user-photo {
	position: relative;
	overflow: hidden;
}

#mobile-menu .user-info {
	position: relative;
	padding: 10px 9px;
	border: 0 none;
	border-radius: 0;
	box-shadow: none;
}

#mobile-menu .user-info input[type=text],
#mobile-menu .user-info input[type=password] {
	width: 100%;
}

#mobile-menu .unstyled {
	overflow: hidden;
	margin: 0.5em 0;
}

#mobile-menu .unstyled li {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0 none;
	float: left;
	display: inline-block;
	*zoom: 1;
	margin-right: 1em;
}

#mobile-menu .unstyled a {
	font: 0.7em "Fira Sans",sans-serif;
	display: inline;
	padding: 0;
}

#mobile-menu .userblock-open {
	display: none;
	padding: 0.57em 1em;
	margin-top: 1em;
}

#mobile-menu .logout-block .userblock-open {
	display: block;
}

#mobile-menu .logout-block .login-greeting,
#mobile-menu .logout-block .logout-button {
	display: inline-block;
}

#mobile-menu .logout-block .logout-button svg {
	display: none;
}

#mobile-menu .login-btn {
	background: none;
	border: 0 none;
	text-decoration: none;
	color: #FFEFC8;
	cursor: pointer;
	font: 1em "Fira Sans",sans-serif;
	position: relative;
	margin-left: 1em;
}

#mobile-menu .login-btn:before {
	content: "|";
	position: absolute;
	top: 0;
	left: -0.55em;
	color: #fff;
}

#mobile-menu .userbox {
	padding: 0 1em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#mobile-menu .user-name {
	display: block;
	margin-left: 40px;
	line-height: 44px;
	color: #fff;
}

#mobile-menu .userbox .submenu li a,
#mobile-menu .userbox .submenu li span {
	padding: 0 0 0 1.5em;
	display: inline-block;
}

/* Header
---------------------------------------------------------------*/

#header {
	height: 22vw;
	margin-top: 60px;
	padding-bottom: 28px;
	overflow: hidden;
	background: url(../images/body.jpg) no-repeat fixed 50% 0 / cover #fff;
}

#header h1 {
	font-size: 2.5vw;
	line-height: 2.8vw;
	color: #fff;
	margin-top: 4vw;
}

#header h1 span {
	display: block;
}

#header .header-panel {
	height: 80px;
	background: #364150;
	margin-top: 1vw;
	overflow: hidden;
}

#header .header-panel a {
	color: #fff;
}

#header .header-panel-download,
#header .header-panel-docs,
#header .header-panel-search {
	float: left;
	display: inline-block;
	zoom: 1;
	font-size: 1.125em;
	line-height: 1.125em;
}

#header .header-panel-download svg,
#header .header-panel-docs svg {
	display: none;
}

#header .header-panel-download {
	padding: 28px 34px 0 52px;
	position: relative;
}

#header .header-panel-download:after {
	content: "";
	position: absolute;
	top: 24px;
	right: 0;
	width: 3px;
	height: 31px;
	background: url(../images/dotted.png) no-repeat;
}

#header .header-panel-download span {
	display: block;
	color: #8cd50b;
	font-size: 	0.563em;
	line-height: 1.4em;
	text-align: right;
}

#header .header-panel-docs {
	padding: 28px 20px 0 58px;
	position: relative;
}

#header .header-panel-search {
	float: right;
	margin: 19px 20px 0 0;
}

#header .header-panel-search form,
.category-search form {
	height: 38px;
	border: 1px #5e6773 solid;
	border-radius: 2px;
	background: #364150;
	overflow: hidden;
}

#header .header-panel-search div,
.category-search div {
	float: left;
	display: inline-block;
	zoom: 1;
	position: relative;
	width: 80px;
}

#header .header-panel-search div:first-child,
.category-search div:first-child {
	width: calc(100% - 80px);
}

#header .header-panel-search input[type=text],
#header .header-panel-search input[type=submit],
.category-search  input[type=text],
.category-search  input[type=submit] {
	background: none;
	border: 0 none;
	height: 38px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#header .header-panel-search input[type=text],
.category-search  input[type=text] {
	width: 280px;
	color: #fff;
	font-size: 0.750em;
	line-height: 0.750em;
	padding: 0 10px 0 35px;
	border-radius: 1px 0 0 1px;
}

#header .header-panel-search input[type=text]:focus,
.category-search  input[type=text]:focus {
	background: #fff;
	padding-left: 10px;
	color: #333;
}

#header .header-panel-search input[type=text]:focus + svg,
.category-search  input[type=text]:focus + svg {
	display: none;
}

#header .header-panel-search input[type=submit],
.category-search  input[type=submit] {
	color: #7e8389;
	font-size: 0.688em;
	text-transform: uppercase;
	background: #444e5c;
	border-left: 1px #5e6773 solid;
	padding: 0 20px;
	width: 100%;
}

#header .header-panel-search input[type=submit]:hover,
.category-search  input[type=submit]:hover {
	color: #fff;
}

/* News Line
---------------------------------------------------------------*/

#news-line {
	margin-bottom: 36px;
}

#news-line .container {
	padding: 21px 0 17px;
	border-bottom: 1px #dce4ea solid;
}

#news-line .grid-col {
	display: table;
	float: none;
	width: auto;
}

#news-line .cell {
	display: table-cell;
	border-left: 1px #dce4ea solid;
	padding: 0 25px;
	vertical-align: top;
	min-width: 200px;
}

#news-line .cell .news-image {
	width: 80px;
	float: left;
	display: inline-block;
	zoom: 1;
	margin-right: 25px;
}

#news-line .cell img {
	max-width: 100%;
}

#news-line .cell a {
	font-size: 0.875em;
	vertical-align: top;
	line-height: 0.75em;
}

#news-line .cell p {
	font-size: 0.750em;
	line-height: 1.125em;
	margin: -3px 0 0 0;
}

#news-line .cell .date-new {
	color: #999;
	font-size: 0.625em;
	line-height: 0.625em;
	display: block;
	margin-bottom: 0.8em;
}

#news-line .cell .autor-new {
	color: #555;
}

#news-line .news-line-first {
	width: 195px;
	border-left: 0 none;
	padding: 0 0 0 35px;
	position: relative;
}

#news-line .news-line-first strong {
	color: #333;
	font-size: 1em;
	display: block;
	padding: 0 0 0.5em;
}

#news-line .news-line-first a {
	color: #999;
	font-size: 0.688em;
}

/* From Blog
---------------------------------------------------------------*/

#from-blog {
	padding-bottom: 30px;
	margin-bottom: 25px;
}

#from-blog .items .grid-col {
	position: relative;
	margin-bottom: 3em;
}

#from-blog .items .grid-col:after {
	content: "";
	width: 1px;
	height: 100%;
	right: -1.5em;
	top: 30px;
	position: absolute;
	x-background: #dce4ea;
}

#from-blog .items .grid-col:nth-child(3n):after {
	display: none;
}

#from-blog .grid-col img,
#from-blog .grid-col svg {
	display: block;
	max-width: 100%;
	max-height: 100px;
	margin-bottom: 1.4em;
}

#from-blog .item-info,
#category .item-info {
	margin: -1em 0 0;
	overflow: hidden;
	margin: 0;
	list-style: none;
	overflow: hidden;
	font-size: 0.7em;
	color: #999;
	x-border-top: 1px #dce4ea solid;
	padding: 1.1em 0 0;
}

#from-blog .item-info li,
#category .item-info li {
	float: left;
	display: inline-block;
	zoom: 1;
	margin: 0 14px;
	position: relative;
}

#from-blog .item-info li:before,
#category .item-info li:before {
	content: "|";
	position: absolute;
	left: -17px;
	top: 0;
	color: #999;
}

#from-blog .item-info li:first-child,
#category .item-info li:first-child {
	border-left: 0 none;
	margin-left: 0;
	padding-left: 0;
}

#from-blog .item-info a,
#category .item-info a {
	color: #999;
	text-decoration: underline;
	font-size: 1.1em;
}

#from-blog .item-info a:hover,
#category .item-info a:hover {
	text-decoration: none;
}

#from-blog .items p {
	margin: 0.6em 0;
	font-size: 0.813em;
	line-height: 1.4em;
}

.item-content table.roadmap {
	width: 100%;
	margin-bottom: 40px;
}

.item-content table.roadmap tr {
	border-bottom: 1px #ccc solid;
}

.item-content table.roadmap tr:last-child {
	border-bottom: 0 none;
}

.item-content table.roadmap th,
.item-content table.roadmap td {
	padding: 20px 10px;
	vertical-align: top;
}

.item-content table.roadmap th {
	vertical-align: middle;
	border-bottom: 1px #666 solid;
}

.item-content table.roadmap th:last-child {
	width: 100px;
}

/* Banners Home
---------------------------------------------------------------*/

#banners-home {
	margin-bottom: 71px;
}

#banners-home .container {
	padding: 20px 0;
	border-top: 1px #dce4ea solid;
	border-bottom: 1px #dce4ea solid;
}

#banners-home .grid-col {
	text-align: center;
	position: relative;
}

#banners-home .grid-col:nth-child(2n):before {
	content: "";
	position: absolute;
	top: 0;
	left: 3em;
	width: 1px;
	height: 100%;
	x-background: #dce4ea;
}

#banners-home img {
	max-width: 100%;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* Bottom
---------------------------------------------------------------*/

#bottom {
	padding-bottom: 30px;
	margin-bottom: 57px;
}

#bottom .bottom-item {
	padding-left: 100px;
}

#bottom .bottom-item p {
	margin: 0;
	font-size: 2.000em;
	line-height: 1.2em;
}

#bottom .grid-col {
	position: relative;
}

#bottom .grid-col:nth-child(2n):before {
	content: "";
	position: absolute;
	top: 30px;
	left: 1.5em;
	width: 1px;
	height: 100%;
	background: #dce4ea;
}

/* Category
---------------------------------------------------------------*/

.content-col {
	margin-top: 60px;
}

#category {

}

#category .category-item {
	border-bottom: 5px #dce4ea solid;
	padding-bottom: 1.5em;
	margin-bottom: 2em;
}

#category .item-info {

}

#category .item-info a {
	color: #999;
}

#category .noborder .item-info {
	border-top: 0 none;
	padding: 0;
}

#category .item-info li {

}

#category .item-info li:before {

}

#category .item-info li:first-child {
	margin-left: 0;
}

#category .item-info li:first-child:before,
#category .item-info li:last-child:before {
	display: none;
}

#category li.item-comment {
	float: right;
	margin: 0;
}

#category li.item-comment a {
	position: relative;
}

#category li.item-comment a:before {
	content: "";
	position: absolute;
	left: -23px;
	top: 3px;
	width: 16px;
	height: 13px;
}

#category h2 {
	margin: 0px 0px 0.1em;
	font-size: 2.25em;
	line-height: 1.2em;
}

#category p {
	font-size: 0.938em;
	line-height: 1.500em;
	margin: 1em 0px 1em;
}

#category img {
	max-width: 100%;
	display: block;
	margin: 1em 0;
}

#category .noborder img {
	margin-bottom: 0;
}

#category .promo-block {
	border-bottom: 5px #dce4ea solid;
	padding-bottom: 1em;
	margin-bottom: 2em;
	position: relative;
}

#category .promo-link {
	position: absolute;
	top: -45px;
	left: 0px;
	background: #fff;
	color: #999;
	font-size: 0.688em;
	padding-right: 10px;
}

#category .category-pagination {
	margin-bottom: 34px;
}

#category .category-pagination ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#category .category-pagination li {
	float: left;
	display: inline-block;
	zoom: 1;
	width: 50px;
	height: 33px;
	line-height: 33px;
	font-weight: bold;
	font-size: 0.938em;
	margin-right: 1px;
	margin-bottom: 1px;
	text-align: center;
	color: #a2a19c;
}

#category .category-pagination li a,
#category .category-pagination li.current span {
	display: block;
	border-radius: 2px;
}

#category .category-pagination li.current span {
	background: #0d6dab;
	color: #fff;
}

#category .category-pagination li a:hover {
	background: #e52626;
	color: #fff;
}

/* Login Page
---------------------------------------------------------------*/

div.login,
div.remind,
div.reset,
div.profile {
	margin: 2em 0 2em;
}

.control-group {
	position: relative;
}

.control-label {
	width: 100px;
	float: left;
	font: 400 0.8em/1em 'Fira Sans', sans-serif;
	padding-top: 1em;
}

.remind .control-label,
.reset .control-label {
	padding-top: 0;
}

#member-profile h4 {
	margin-bottom: 0;
}

#member-profile .form-block {
	border-bottom: 5px solid #DCE4EA;
	padding-bottom: 2em;
	margin-bottom: 2em;
	width: 90%;
}

#member-profile input,
#member-profile select,
#member-profile textarea {
	width: 100%;
}

#member-profile .control-label {
	float: none;
	width: 100%;
	margin-bottom: 0.5em;
}

#member-profile .controls {
	margin: 0;
}

#member-profile .input-append input {
	width: 50%;
}

#member-profile .input-append button {
	display: none;
}

#member-profile .buttons {
	margin: 2em 0;
}

.controls {
	margin-left: 120px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
select,
textarea {
	width: 80%;
	border: 1px #999 solid;
	border-radius: 3px;
	color: #242321;
	box-sizing: border-box;
	padding: 7px 10px;
	background: #fff;
	font-size: 0.9em;
	line-height: 1.2em;
	margin-bottom: 1.08em;
}

textarea {
	min-height: 120px;
}

.checkbox label {
	font-size: 0.9em;
	font-weight: normal;
	line-height: 0.9em;
	cursor: pointer;
}

.checkbox input {
	margin-right: 5px;
}

.btn {
	border: 0px none;
	outline: 0px none;
	background: #5AA426 none repeat scroll 0% 0%;
	border-radius: 3px;
	cursor: pointer;
	color: #FFF !important;
	box-sizing: border-box;
	padding: 7px 10px;
	font-size: 0.9em;
	line-height: 1em;
	min-width: 180px;
	display: inline-block;
	margin-top: 1em;
	text-decoration: none;
	text-align: center;
	text-decoration: none !important;
}

.btn:hover {
	background: #DCE4EA;
	color: #777;
}

.nav {
	margin: 0 0 0 120px;
	padding: 0;
	list-style: none;
	font-size: 0.8em;
	overflow: hidden;
}

.nav li {
	float: left;
	display: inline-block;
	*zoom: 1;
	margin-right: 10px;
}

#adminForm {

}

#adminForm fieldset {
	border: 0 none;
	padding: 0;
	margin: 0;
}

#adminForm .btn-toolbar {
	margin: 0 0 20px;
	overflow: hidden;
}

#adminForm .control-group {
	margin: 0.5em 0px;
}

#adminForm input,
#adminForm textarea {
	width: 100%;
}

#adminForm .control-label {
	line-height: 1.5em;
	font-size: 13px;
	float: none;
	width: 100%;
	padding-top: 0;
}

#adminForm .controls {
	margin: 0;
}

#adminForm .btn-toolbar .btn {
	float: left;
	display: inline-block;
	margin-right: 10px;
	min-width: 0;
}

#adminForm .nav-tabs {
	margin: 0;
	overflow: hidden;
	border-bottom: 1px #ccc solid;
}

#adminForm .nav-tabs li {
	padding: 10px;
	overflow: hidden;
}

#adminForm .nav-tabs li a {
	text-decoration: none;
}

#adminForm .nav-tabs li.active {
	background: #EEEEEE;
	border: 1px #eee solid;
	border-bottom: 0 none;
	position: relative;
	top: 1px;
}

#adminForm .tab-content {
	margin: 20px 0;
}

#adminForm .tab-pane {
	display: none;
}

#adminForm .tab-pane.active {
	display: block;
}

/* Left Col
---------------------------------------------------------------*/

.left-col {
	margin-top: 83px;
}

.category-search {

}

.category-search form {
	background: none;
	border-color: #dce4ea;
}

.category-search div:first-child {
	width: calc(100% - 80px);
}

.category-search div:last-child {
	float: right;
}

.category-search input[type="text"] {
	width: 100%;
	color: #818181;
	font-size: 0.938em;
}

.category-search input[type="text"] + svg {
	fill: #A9A9A9;
}

.category-search input[type="submit"] {
	background: #dce4ea;
	color: #364150;
	border-color: #dce4ea;
}

.category-search input[type="submit"]:hover {
	background: #444E5C;
	color: #7E8389;
}

.best-joomla {
	background: #fff6ee;
	border: 1px #ffdbbb solid;
	border-radius: 2px;
	padding: 14px 20px 10px;
	margin-top: 29px;
	position: relative;
}

.best-joomla h3 {
	color: #242321;
	font-size: 1.125em;
	line-height: 1.2em;
}

.best-joomla p {
	color: #242321;
	font-size: 0.813em;
	line-height: 1.2em;
	font-style: italic;
}

.best-joomla .img-right {
	float: right;
	margin: 0 0 10px 10px;
	max-width: 100%;
}

.best-joomla .download-joomla,
.best-joomla .docs-joomla {
	position: relative;
	font-size: 0.875em;
	margin-top: 14px;
	display: inline-block;
}

.best-joomla .download-joomla {
	padding-left: 28px;
}

.best-joomla .download-joomla + strong {
	margin-right: 35px;
}

.best-joomla .download-joomla:before {
	content: "";
	position: absolute;
	left: 0;
	top: 1px;
	width: 16px;
	height: 16px;
}

.best-joomla .docs-joomla {
	padding-left: 24px;
}

.best-joomla .docs-joomla:before {
	content: "";
	position: absolute;
	left: 0;
	top: 2px;
	width: 14px;
	height: 17px;
}

.best-joomla .slideup-block,
.best-joomla .slidedown-block {
	color: #fc8f30;
	text-decoration: underline;
	font-size: 0.688em;
	position: absolute;
	bottom: -20px;
	right: -1px;
	display: block;
	cursor: pointer;
	background: #FFF6EE;
	border: 1px solid #FFDBBB;
	border-top: 0 none;
	border-radius: 0 0 2px 2px;
	padding: 0 5px 0 15px;
}

.best-joomla .slideup-block:hover,
.best-joomla .slidedown-block:hover {
	text-decoration: none;
}

.best-joomla .slideup-block:before,
.best-joomla .slidedown-block:before {
	content: "";
	position: absolute;
	left: 3px;
	top: 5px;
	width: 9px;
	height: 9px;
}

.best-joomla .slidedown-block {
    margin-top: 1px;
}

.best-joomla .bj-container {
	overflow: hidden;
}


.best-joomla.minimal {
	padding: 12px 20px 12px;
}

.best-joomla.minimal h3,
.best-joomla.minimal img,
.best-joomla.minimal p,
.best-joomla.minimal .slideup-block {
	display: none;
}

.best-joomla.minimal .download-joomla,
.best-joomla.minimal .docs-joomla {
	margin-top: 0;
}

.best-joomla.minimal .docs-joomla:after {
	content: "";
	position: absolute;
	height: 45px;
	width: 1px;
	background: #ffdbbb;
	left: -21px;
	top: -14px;
}

.red {
	color: #e52626 !important;
}

.best-joomla  strong.red {
	font-size: 0.875em;
}

.left-half-wrapper {
	overflow: hidden;
	margin-top: 35px;
}

.half-left-col {
	width: calc(70% - 20px);
	float: left;
	display: inline-block;
	zoom: 1;
}

.half-right-col {
	margin-left: 70%;
	width: 30%;
}

.half-right-col .menu {
	margin: 0 0 1.2em;

	background: #FFF6EE none repeat scroll 0% 0%;
	border: 1px solid #FFDBBB;
	border-radius: 2px;
	padding: 14px 20px 10px;
	margin-top: 29px;
	position: relative;
}

.half-right-col .menu li {
	float: none;
	display: block;
	margin: 0 0 5px 0;
}

.half-right-col .menu li.current a {
	font-weight: bold;
	color: #E52626;
}

.portal-news {

}

.banner-img {
	text-align: right;
}

.banner-img.margin-top {
	margin-top: 30px;
}

.portal-news h2 {
	font-size: 1.500em;
	line-height: 1.2em;
	margin-bottom: 0.74em;
	position: relative;
	float: left;
	display: inline-block;
	zoom: 1;
}

.portal-news a.rss {
	content: "";
	display: block;
	float: left;
	width: 14px;
	height: 14px;
	text-decoration: none;
	margin: 7px 0 0 10px;
}

.portal-news ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.portal-news li {
	overflow: hidden;
	margin-bottom: 12px;
}

.portal-news .news-img {
	float: left;
	width: 78px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin-right: 10px;
}

.portal-news .news-img img {
	max-width: 100%;
}

.portal-news .news-right {
	float: left;
	display: inline-block;
	border-bottom: 1px #dce4ea solid;
	padding-bottom: 16px;
}

.portal-news li:last-child .news-right {
	border-bottom: 0 none;
	padding-bottom: 0;
}

.portal-news h3 {
	font-size: 0.938em;
	line-height: 1.2em;
	margin-bottom: 0;
}

.portal-news p {
	font-size: 0.688em;
	line-height: 1.5em;
	color: #999;
	margin: 0.3em 0px 0px;
}

.portal-news li img,
.portal-news .banner-img img,
.catalog-actions img {
	max-width: 100%;
}

.catalog-actions {
	border: 1px #d2d1cb solid;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	position: relative;
	margin-top: 58px;
}

.catalog-actions .actions-title {
	font-size: 0.688em;
	position: absolute;
	top: -11px;
	left: 7px;
	padding: 0 5px;
	background: #fff;
	color: #a2a19c;
}

.catalog-poopular,
.category-forum {
	font-size: 0.813em;
	line-height: 1.2em;
	margin-bottom: 1.2em;
	background: #eff6fb;
	border-radius: 3px;
	padding: 17px 20px 10px;
	margin-top: 40px;
}

.catalog-poopular h2,
.category-forum h2,
.category-notice h2 {
	font-size: 1.500em;
	line-height: 1em;
	margin-bottom: 1em;
}

.catalog-poopular ul,
.category-forum ul,
.category-notice ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.catalog-poopular li,
.category-forum li {
	margin-bottom: 1.5em;
}

.category-forum {
	background: #fff6ee;
	margin-top: 30px;
}

.category-forum li {
	margin-bottom: 1.5em;
}

.category-forum .list-gray {
	color: #9a9994;
	font-size: 0.750em;
	line-height: 1em;
	font-style: italic;
	margin-top: 0.5em;
}

.category-forum .list-gray a {
	color: #9a9994;
}

.category-notice {
	background: #fffad7;
	padding: 25px;
	margin-top: 20px;
	border-radius: 3px;
}

.category-notice h2 {
	margin-bottom: 0.4em;
}

.category-notice p {
	color: #1466b3;
	font-size: 0.938em;
	line-height: 1.2em;
	margin-bottom: 0.8em;
	font-weight: bold;
	margin-top: 0;
}

.category-notice ul {
	color: #383734;
	font-size: 0.750em;
	line-height: 1em;
}

/* Item
---------------------------------------------------------------*/

.breadcrumbs {
	font-size: 0.813em;
	color: #999;
	margin: 1.5em 0px;
}

.breadcrumbs ul,
#item ul.plus,
#item ul.minus{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.breadcrumbs li {
	float: left;
	display: inline-block;
	zoom: 1;
	margin-right: 20px;
	position: relative;
}

.breadcrumbs li:after {
	content: "/";
	position: absolute;
	right: -12px;
	top: 1px;
}

.breadcrumbs li:last-child:after {
	content: "";
}

.breadcrumbs a {
	color: #84b3da;
}

#item .jpuserprofile-item-content {
	margin-top: 20px;
}

#item .jpuserprofile-item-content .left {
	width: 30%;
	float: left;
}

#item .jpuserprofile-item-content .left img {
	max-width: 100%;
	overflow: hidden;
	border-radius: 50%;
}

#item .jpuserprofile-item-content .right {
	margin-left: calc(30% + 20px);
}

#item .jpuserprofile-item-content .name {
	font: 700 1.500em/1em 'Fira Sans', sans-serif;
	color: #383734;
}

#item .jpuserprofile-item-content .info {
	font-size: 0.750em;
	color: #999;
	margin-top: 0.3em;
}

#item .jpuserprofile-item-content .aboutme {
	font-size: 	0.875em;
	font-style: italic;
	line-height: 1.400em;
	margin-top: 1em;
}

#item .jpuserprofile-item-content .social {
	margin: 1em 0 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#item .jpuserprofile-item-content .social li {
	display: inline-block;
	float: left;
	margin-left: 10px;
}

#item .jpuserprofile-item-content .social li:first-child {
	margin-left: 0;
}

#item .jpuserprofile-item-content .social a {
	width: 24px;
	height: 24px;
	display: block;
	float: left;
}

#item .jpuserprofile-item-content .articles {
	margin-top: 5em;
}

#item .jpuserprofile-item-content .articles strong {
	font: 700 1.125em	/1em 'Fira Sans', sans-serif;
	color: #383734;
	margin-bottom: 0.5em;
}

#item .jpuserprofile-item-content .articles ul {
	padding: 0;
	list-style: none;
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
}

#item .jpuserprofile-item-content .articles li {
	overflow: hidden;
	margin-bottom: 1em;
}

#item .jpuserprofile-item-content .item-autor-left {
	color: #999;
	font-size: 0.7em;
	text-align: right;
	padding-top: 0.105em;
}

#item .jpuserprofile-item-content .item-autor-right {
	margin-left: 100px;
}

#item {
	margin-bottom: 30px;
}

#item h1 {
	color: #0d6dab;
	font-size: 2.250em;
	line-height: 1.1em;
	margin-bottom: 0.4em;
}

jpuserprofile-item-contenth2,
#item h3 {
	font-size: 1.4em;
	margin-top: 2em;
}

#item .item-type {
	margin-bottom: 0.6em;
}

#item p,
#item ul,
#item ol {
	color: #242321;
	font-size: 0.9em;
	line-height: 1.5em;
	margin: 0 0 1.5em;
}

#item p.strong-title {
	font-weight: bold;
	margin-bottom: 0;
}

#item h2.gray-text {
	color: #999;
	font-size: 1.500em;
	line-height: 1em;
	margin: 1em 0px 0.6em;
}

#item ul.plus,
#item ul.minus {
	margin: 0.6em 0 1em;
	color: #242321;
	font-size: 0.9em;
	line-height: 1.5em;
}

#item ul.plus li,
#item ul.minus li {
	padding-left: 20px;
	position: relative;
	margin-bottom: 0.6em;
}

#item ul.plus li:before,
#item ul.minus li:before {
	content: "";
	position: absolute;
	top: 0.5em;
	left: 0;
	width: 8px;
	height: 8px;
	background: url(../images/ico/plus.png) no-repeat 50% 50%;
}

#item ul.minus li:before {
	background-image: url(../images/ico/minus.png);
}

#item .translate-target {
	background: #eff6fb;
	color: #242321;
	font-size: 0.9em;
	font-style: italic;
	padding: 10px 10px 10px 40px;
	position: relative;
	border-radius: 3px;
}

#item .translate-target:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 13px;
	width: 18px;
	height: 19px;
	background: url(../images/ico/translate-ico.png) no-repeat;
}

#item .share-item {
	color: #242321;
	font-size: 0.9em;
	line-height: 1em;
	margin: 1em 0;
}

#item .share-item img {
	position: relative;
	top: 5px;
	margin-left: 5px;
}

#item .item-autor {
	border-top: 5px #dce4ea solid;
	border-bottom: 5px #dce4ea solid;
	margin-top: 1.8em;
	padding-top: 1.6em;
	padding-bottom: 1.9em;
	overflow: hidden;
}

#item .item-autor-left {
	width: 80px;
	float: left;
	display: inline-block;
	zoom: 1;
}

#item .item-autor-left img {
	max-width: 100%;
}

#item .item-autor-right {
	margin-left: 100px;
}

#item .item-autor-right .autor-name {
	font-size: 0.9em;
	line-height: 1.2em;
	font-weight: bold;
	margin: -2px 0 0.55em;
	display: inline-block;
	text-decoration: none;
	vertical-align: top;
}

#item .item-autor-right a.autor-name:hover {
	text-decoration: underline;
}

#item .item-autor-right .autor-info {
	display: block;
	font-size: 	0.813em;
	color: #999;
	margin: 0 0 0.55em;
}

#item .item-autor-right .autor-text {
	font-size: 0.9em;
	line-height: 1em;
	font-style: italic;
	margin-bottom: 0;
}

#item .item-autor-right .autor-social {
	margin-top: 1em;
}

#item .item-autor-articles {
	margin-top: 1.2em;
}

#item .item-autor-articles strong {
	margin-left: 100px;
	font-size: 0.9em;
	margin-bottom: 0.2em;
}

#item .item-autor-articles ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 1.2em;
}

#item .item-autor-articles li {
	overflow: hidden;
}

#item .item-autor-articles .item-autor-left {
	color: #999;
	font-size: 0.688em;
	text-align: right;
	padding-top: 0.15em;
}

#item .item-autor-articles a {
	font-size:	0.813em;
	line-height: 1.2em;
}

.item-comments,
.comments-inline-edit {
	margin: 2.4em 0 0;
}

.item-comments h4,
.comments-inline-edit h4 {
	font-size: 1em;
	line-height: 1em;
	margin: 0;
}

.item-comments form,
.comments-inline-edit form {
	margin-top: 1.55em;
	width: 100%;
	border-bottom: 5px #dce4ea solid;
	padding-bottom: 2.2em;
	margin-bottom: 2em;
}

.item-comments .row-form,
.comments-inline-edit .row-form {
	position: relative;
}

.item-comments input[type=text],
.item-comments textarea,
.comments-inline-edit input[type=text],
.comments-inline-edit textarea {
	width: 50%;
	border: 1px #999 solid;
	border-radius: 3px;
	color: #242321;
	box-sizing: border-box;
	padding: 7px 10px;
	background: #fff url(../images/ico/comment-input.png) no-repeat calc(100% - 10px) 50%;
	font-size: 0.9em;
	line-height: 1.2em;
	margin-bottom: 1.08em;
}

.item-comments textarea,
.comments-inline-edit textarea {
	width: 100%;
	background: #fff none;
	resize: none;
	padding-bottom: 1.3em;
}

.item-comments .grippie,
.comments-inline-edit .grippie {
	position: absolute;
	bottom: 0;
	font: italic 0.8em/1em 'Fira Sans', sans-serif;
	color: #666;
	height: 1.3em;
	width: 100%;
	left: 0;
	padding: 2px 5px;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 1.08em;
	border: 1px #999 solid;
	border-top: 0;
	border-radius: 0 0 3px 3px;
	cursor: row-resize;
	background: #DCE4EA;
}

.item-comments .grippie:after,
.comments-inline-edit .grippie:after {
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	right: 2px;
	top: 2px;
	background:url(../images/ico/jc_resize.gif) no-repeat;
}

#comments-form-cancel a {
	background: #DCE4EA;
	color: #777;
}

#comments-form-cancel,
#comments-form-send {
	float: left;
	margin-right: 10px;
}

.item-comments label,
.comments-inline-edit label {
	font-size: 0.9em;
	line-height: 1.2em;
	font-style: italic;
	cursor: pointer;
}

.item-comments label > input,
.comments-inline-edit label > input {
	position: relative;
	top: 1px;
	margin-right: 5px;
	margin-bottom: 1.08em;
}

.item-comments .captcha,
.comments-inline-edit .captcha {
	overflow: hidden;
}

.item-comments .captcha img,
.comments-inline-edit .captcha img {
	height: 32px;
	width: 100px;
	background: #DCE4EA;
	padding: 1px;
	border-radius: 3px;
	float: left;
}

.item-comments .captcha input,
.comments-inline-edit .captcha input {
  width: 140px;
	margin-left: 20px;
	background: #fff none;
}

.item-comments .captcha .reload,
.comments-inline-edit .captcha .reload {
	display: inline-block;
	color: #999;
	text-decoration: underline;
	font-size: 0.688em;
	margin-bottom: 0.2em;
	cursor: pointer;
}

.item-comments .captcha .reload:hover,
.comments-inline-edit .captcha .reload:hover {
	text-decoration: none;
}

.item-comments .btn,
.comments-inline-edit .btn {
	border: 0 none;
	background: #5aa426;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
	box-sizing: border-box;
	padding: 7px 10px;
	font-size: 0.9em;
	line-height: 1.2em;
	min-width: 180px;
	text-align: left;
	display: inline-block;
	margin-top: 1em;
	text-decoration: none;
	text-align: center;
}

.item-comments .btn:hover,
.comments-inline-edit .btn:hover {
	background: #DCE4EA;
	color: #777;
}

.item-comments .smiles,
.comments-inline-edit .smiles {
	margin-bottom: 0.2em;
}

.item-comments .smiles img,
.comments-inline-edit .smiles img {
	margin-right: 0.2em;
	cursor: pointer;
}

#comments {

}

#comments .comments-list {
	border-bottom: 1px #DCE4EA solid;
	margin-bottom: 1em;
}

#comments .comments-list > div {
	margin-bottom: 1em;
	margin-left: 1em;
	padding-bottom: 1em;
	border-bottom: 1px #DCE4EA solid;
}

#comments .comments-list > div:last-child {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 0 none;
}

#comments .comment-avatar {
	float: left;
	width: 40px;
}

#comments .avatar-indent {
	margin-left: 100px;
}

#comments .comment-author,
#comments .comment-anchor {
	font: 500 1.1em 'Fira Sans', sans-serif;
	text-decoration: none;
}

#comments .comment-date,
#comments .comments-buttons {
	font: 0.7em 'Fira Sans', sans-serif;
	color: #999;
	margin-left: 11px;
	position: relative;
}

#comments .comment-date:before {
	content: "|";
	position: absolute;
	left: -9px;
	top: 0;
	height: 10px;
	width: 1px;
}

#comments .comments-vote {
	float: right;
}

#comments .comments-vote a {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-decoration: none;
	position: relative;
}

#comments .comments-vote a:hover .svg {
	fill: #000;
}

#comments .comments-vote a.vote-good {
	float: left;
}

#comments .comments-vote a.vote-poor {
	float: right;
	top: 6px;
}

#comments .vote-num {
	font: 0.9em 'Fira Sans', sans-serif;
	margin: 0 10px;
}

#comments .vote-none {
	color: #666;
}

#comments .vote-poor {
	color: #FF0606;
}

#comments .vote-good {
	color: #04C829;
}

#comments .comment-body {
	color: #242321;
	font-size: 0.9em;
	line-height: 1.5em;
	margin: 0 0 1em;
	padding-top: 0.4em;
	border-top: 1px #eee solid;
}

#comments .comments-buttons {
	text-align: right;
	display: block;
	margin: 0;
}

#comments .comments-buttons a {
	margin: 0;
	color: #999;
}

#comments-list-footer {
	font: 0.7em 'Fira Sans', sans-serif;
	overflow: hidden;
}

#comments .quote, 
#comments blockquote, 
#comments .code, 
#comments code, 
#comments pre {
	margin: 5px 0 5px 10px; 
	display: block; 
	clear: both; 
	background-image: none;
}

#comments blockquote, 
#comments .hidden, 
#comments code, 
#comments pre {
	color: #849B9F;
	text-align: left;
	padding: 8px;
	margin-bottom: 8px;
}

#comments blockquote, 
#comments .hidden {
	border: 1px dashed #849B9F;
}

#comments code, 
#comments pre {
	border: 1px solid #dedede;
	overflow: hidden;
	white-space:normal;
}

#comments .code {
	background: none; 
	border: none; 
	padding:0;
}

#comments .quote {
	color: #777;
}

#comments .hidden {
	clear: both;
	display: block;
	margin: 5px 0;
}

#jc span.bbcode {
	width: auto;
	height: 23px;
	display: block;
	margin-bottom: 5px;
}

#jc .bbcode a, 
#jc .bbcode a:focus, 
#jc .bbcode a:active, 
#jc .bbcode a:hover {
	width: 23px;
	height: 23px;
	float: left;
	margin: 0 2px 0 0;
	display: block;
	background-color:transparent !important;
	background-repeat: no-repeat;
	background-image: url(../images/jc_bbcodes.gif?v=301);
	text-decoration:none;
	border:none !important
}

#jc a.bbcode-empty{background-position: 0 0}
#jc a.bbcode-b{background-position: -30px 0 !important}
#jc a.bbcode-i{background-position: -60px 0 !important}
#jc a.bbcode-u{background-position: -90px 0 !important}
#jc a.bbcode-s{background-position: -120px 0 !important}
#jc a.bbcode-url{background-position: -150px 0 !important}
#jc a.bbcode-img{background-position: -180px 0 !important}
#jc a.bbcode-list{background-position: -210px 0 !important}
#jc a.bbcode-hide{background-position: -240px 0 !important}
#jc a.bbcode-quote{background-position: -270px 0 !important}
#jc a.bbcode-smile{background-position: -300px 0 !important}
#jc a.bbcode-youtube{background-position: -330px 0 !important}
#jc a.bbcode-google{background-position: -360px 0 !important}
#jc a.bbcode-wiki{background-position: -390px 0 !important}
#jc a.bbcode-facebook{background-position: -420px 0 !important}
#jc a.bbcode-flickr{background-position: -450px 0 !important}
#jc a.bbcode-instagram{background-position: -480px 0 !important}
#jc a.bbcode-vimeo{background-position: -510px 0 !important}

#comments-form-message {padding: 5px 5px 5px 25px;margin-right: 5px;display: block;margin-bottom: 20px;}
.comments-form-message-error {background: #FFD86F;}
.comments-form-message-info {background: #DFEEFF;}

#searchForm {
	background: #e2ecf4;
	border: 1px #e2ecf4 solid;
	border-radius: 3px;
}

#searchForm .search-input {
	overflow: hidden;
	padding: 26px 25px 0;
}

#searchForm .search-input input[type=text],
#searchForm .search-input .btn {
	width: calc(100% - 122px);
	float: left;
	margin: 0;
	padding: 8px 10px;
	background: #e2ecf4;
	border: 2px #fff solid;
	font-size: 14px;
	color: #333 !important;
	line-height: 14px;
}

#searchForm .search-input .btn {
	margin: 0 0 0 20px;
	display: block;
	float: right;
	width: 102px;
	min-width: 0;
	font-weight: bold;
	text-transform: lowercase;
}

#searchForm .searchintro strong,
#searchForm .search-legend,
#searchForm .form-left label {
	font: 500 15px "Roboto",sans-serif;
	color: #506C83;
}

#searchForm .searchintro {
	margin-top: 6px;
	overflow: hidden;
	padding: 0 147px 19px 25px;
}

#searchForm .searchintro strong {
	color: #999;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}

#searchForm label.custom-checkbox {
	font-size: 12px;
	color: #333;
	cursor: pointer;
	float: right;
}

#searchForm label.custom-checkbox input[type="checkbox"] {
	display: none;
}

#searchForm label.custom-checkbox  input[type="checkbox"] + span {
	width: 14px;
	height: 14px;
	display: inline-block;
	position: relative;
	border: 1px #fff solid;
	padding: 0;
	vertical-align: top;
	border-radius: 1px;
	top: 1px;
	margin-right: 3px;
}

#searchForm label.custom-checkbox  input[type="checkbox"]:checked + span:after {
	content: "";
	position: absolute;
	top: 0px;
	right: -2px;
	width: 14px;
	height: 12px;
	background: url(../images/ico/check.png) no-repeat;
}

#searchForm label.custom-radio {
	margin-bottom: 5px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

#searchForm label.custom-radio input[type="radio"] {
	display: none;
}

#searchForm label.custom-radio input[type="radio"] + span {
	background-color: #fff;
	border: 1px solid #a8bccc;
	width: 15px;
	height: 15px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	top: -1px;
	vertical-align: middle;
	margin-right: 5px;
}

#searchForm label.custom-radio input[type="radio"]:checked + span:after {
	content: ' ';
	width: 9px;
	height: 9px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #2776af;
	left: 3px;
}

#searchForm .selectric-wrapper {
	float: left;
	margin: 0 10px;
}

#searchForm .formelem .controls {
	margin: 0;
	float: left;
}

#searchForm .phrases {
	background: #fff;
	padding: 10px;
}

#searchForm .formelem .controls label {
	margin: 0 10px 0 0;
	font-size: 0.85em;
}

#searchForm .formelem .controls label input {
	margin: 0 4px 0 0;
	position: relative;
	top: 1px;
}

@media all and (-webkit-min-device-pixel-ratio:0) {
	#searchForm .formelem .controls label input {
		top: 2px;
	}
}

#searchForm .form-left label {
	width: 20%;
	float: left;
	line-height: 2.3em;
}

#searchForm .form-left select {
	float: right;
}

.search-results {
	border-bottom: 5px solid #DCE4EA;
	padding: 0 0 3.3em 25px;
	margin: 0 0 2em;
	list-style: none;
}

.search-results li {
	margin: 0 0 1.8em;
}

.result-title {
	font: 600 1.1em "Fira Sans",sans-serif;
	margin-top: 1em;
	position: relative;
}

.search-results .search-count {
	font-size: 0.8em;
	font-weight: normal;
	color: #ccc;
	position: absolute;
	top: 3px;
	left: -20px;
}

.search-results .result-category {
	font-size: 0.8em;
	color: #666;
	margin-bottom: 0.3em;
}

.search-results .result-text {
	font-size: 0.9em !important;
	margin: 0.55em 0 !important;
}

.result-info {
	color: #999;
}

.result-info .item-info {
	padding: 0 !important;
	margin: 0 !important;
	border: 0 none !important;
	font-size: 0.8em !important;
}

.result-info a {
	text-decoration: underline;
	color: #6c98c1;
}

.result-info a:hover {
	text-decoration: none;
}

/* Footer
---------------------------------------------------------------*/

#footer {
	padding: 36px 0 0;
	border-top: 7px #5aa426 solid;
}

#footer img {
	max-width: 100%;
}

#footer .rights-info {
	font-size: 	0.938em;
	line-height: 1.2em;
}

#footer .rights-info strong {
	display: block;
	margin-bottom: 0.2em;
}

#footer .rights-info p {
	color: #666;
	font-size: 0.7em;
	line-height: 1.3em;
	margin: 1.2em 0 0.4em;
}

#footer .rights-links {
	font-size: 	0.750em;
}

#footer .rights-links a {
	color: #333;
}

#footer .footer-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 	0.813em;
	line-height: 0.8em;
}

#footer .footer-links li {
	margin-bottom: 1.2em
}

#footer .footer-links a {
	color: #333;
	text-decoration: none;
	border-bottom: 2px #c3c3c3 solid;
}

#footer .footer-links a:hover {
	border-bottom-color: transparent;
}

#footer .footer-right img {
	margin-bottom: 1.2em;
}

#footer .user-block {
	cursor: pointer;
	position: relative;
}

#footer .user-photo {
	cursor: pointer;
	position: relative;
	margin-top: 0;
}

#footer .user-name {
	color: #383734;
	font-size: 0.938em;
	line-height: 1.2em;
}

#footer .footer-bottom {

}

#footer .footer-bottom p {
	color: #999;
	font-size: 0.7em;
	line-height: 1.2em;
	border-top: 1px #c4cbd0 solid;
	margin-top: 2em;
	padding-top: 1.4em;
}

#footer .footer-line {
	padding: 0.7em 0;
	color: #333;
	font-size: 0.688em;
	line-height: 1em;
	border-top: 1px #c4cbd0 solid;
	background: #dce4ea;
}

#footer .footer-line ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#footer .footer-line li {
	display: inline-block;
	zoom: 1;
	padding: 0.3em 1.5em;
	position: relative;
}

#footer .footer-line li:before {
	content: ".";
	position: absolute;
	top: -0.2em;
	right: -0.2em;
	color: #333;
	font-size: 2em;
}

#footer .footer-line li:last-child:before {
	display: none;
}

#footer .footer-line a {
	color: #333;
}

#footer .footer-line span {
	color: #f58634;
	margin-right: 5px;
}

/* UI Elements Styles
---------------------------------------------------------------*/

body .button,
body .button span {
	height: 28px;
	line-height: 29px;
	display: inline-block;
	padding: 0 5px 0 0;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px -1px 0px #1466b3;
	background: url(../images/button.png) no-repeat 100% -29px;
}

body .button span {
	padding: 0 30px 0 35px;
	background-position: 0 0;
}

body .button:hover {
	background-position: 100% -87px;
}

body .button:hover span {
	background-position: 0 -58px;
}

.ico {
	display: inline-block;
	width: 18px;
	height: 16px;
	position: relative;
}

/* -- Breakpoint 1280px
------------------------------------------------------------- */
@media only screen and (max-width: 1280px) {
	.container {
		margin: 0 1em;
	}

	#topline .message {
		text-align: left;
	}
	
	#topline .button {
		margin-left: 0;
	}
	
	#topline ul.menu {
		padding: 0;
		-margin-left: 10px;
	}
}

@media only screen and (max-width: 1180px) {
	#topline .user-block {
		min-width: 40px;
	}
	
	#topline .userblock-open .user-name {
		display: none;
	}
	
	#header h1 {
		margin-top: 3vw;
	}
	
	#topline ul.menu > li {
    margin-left: 5px;
	}
}

@media only screen and (max-width: 980px) {
	#topline .logo {
		width: 30px;
	}
	
	#topline .logo span,
	#topline .logo small {
		display: none;
	}
	
	#header .header-panel-download,
	#header .header-panel-docs	{
		padding: 0;
		font-size: 0.8em;
		line-height: 1em;
		clear: left;
		background: none;
	}
	
	#header .header-panel-download {
		margin: 18px 0 0 20px;
	}	
	
	#header .header-panel-docs {
		margin: 13px 0 0 20px;
	}
	
	#header .header-panel-download span {
		display: inline-block;
		color: #8CD50B;
		font-size: 0.7em;
		line-height: 1.4em;
		text-align: left;
		margin-left: 10px;
	}
	
	#header .header-panel-download::after {
		display: none;
	}
	
	#header .header-panel-search {
		margin: -12px 20px 0px 0px;
	}
	
	#footer .footer-links {
		width: 66.666%;
	}
	
	#footer .footer-right {
		display: none;
	}

	.best-joomla .docs-joomla {
		margin-left: 0;
	}
}

@media only screen and (max-width: 800px) {

	h2, h3, #category h2 {
		font-size: 1em;
		margin: 0px 0px 1.2em;
	}

	#topline ul.menu {
		display: none;
	}
	
	#topline .hamburger-menu,
	#topline .logo span {
		display: block;
	}
	
	#topline .user-block.top {
		display: none;
	}
	
	#topline .logo {
		width: 205px;
	}

	#news-line .grid-col {
    float: left;
		display: block;
    width: 100%;
	}
	
	#news-line {
    margin-bottom: 15px;
		margin-top: 1em;
	}
	
	#news-line .cell {
		display: block;
		width: 50%;
		border: 0 none;
		float: left;
		padding: 20px 20px 0;
		overflow: hidden;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	#news-line .news-line-first {
		border: 0 none;
		width: 100%;
		float: none;
		padding: 0px 0px 0px 35px;
		border-bottom: 1px #DCE4EA solid;
	}
	
	#from-blog .items .grid-col {
		width: 50%;
	}
	
	#bottom .bottom-item p {
    font-size: 1.5em;
    line-height: 1.2em;
	}

	.category {

	}

	.category .category-left {
		width: 60%;
	}

	.category .category-right {
		width: 40%;
	}

	.best-joomla {
		padding-bottom: 20px;
	}

	.half-left-col {
		width: 100%;
	}

  .half-right-col {
	  display: none;
  }

  .item-page .grid-col {
	  float: none;
	  width: 100%;
  }

	.item-page .left-col {
		margin-top: 20px;
	}
	
	#topline .topmenu {
		height: 52px;
		background: transparent url(../images/topline_min.png) repeat-x;
	}
	
	#topline .logo {
		line-height: 52px;
	}
	
	#topline .logo small,
	html.svg .svg-logo {
		display: none;
	}
	
	#topline .hamburger-menu .user-message {
		top: -3px;
		left: 23px;
	}

	.portal-news .news-img {
		float: none;
		width: 100%;
		margin-bottom: 0.5em;
	}

	.portal-news .news-right {
		margin-left: 0;
	}
}

@media only screen and (max-width: 680px) {

	h2, h3, #category h2 {
		font-size: 1.4em;
		margin: 0px 0px 1em;
	}

	#member-profile input,
	#member-profile select,
	#member-profile textarea {
		width: 100%;
	}

	.grid-wrap {
    margin-right: -3em;
	}
	
	.grid-col {
		padding-right: 3em;
	}

	#header {
		display: none;
	}
	
	#content {
		margin-top: 30px;
	}
	
	.content-col {
    margin-top: 20px;
	}
	
	#from-blog .items .grid-col {
		width: 50%;
	}
	
	#news-line .cell {
		width: 100%;
		float: none;
		padding: 20px 0 0;
	}
	
	#news-line .news-line-first {
		padding: 0px 0px 0px 35px;
	}
	
	#from-blog .items .grid-col {
		width: 100%;
		margin-bottom: 0;
		padding: 1em 3em;
	}
	
	#from-blog .items .grid-col:nth-child(2n) {
		background: #F6F6F6;
	}
	
	#from-blog .grid-col img {
		max-height: 100%;
	}
	
	#banners-home {
		margin-bottom: 15px;
	}
	
	#banners-home .container {
		padding: 0.5em 0;
	}
	
	#banners-home .grid-col {
		width: 100%;
	}
	
	#banners-home .grid-col img {
		margin: 0.5em 0;
		top: 0;
		transform: translateY(0);
	}
	
	#bottom {
    padding-bottom: 0;
    margin-bottom: 30px;
	}
	
	#bottom .grid-col {
		float: none;
		width: 100%;
	}
	
	#bottom .grid-col {
    margin: 0.5em 0;
	}
	
	#bottom .bottom-item p {
    font-size: 1em;
    line-height: 1.2em;
	}
	
	#footer .grid-wrap > .grid-col {
		width: 100%;
		margin-bottom: 1.5em;
	}
	
	#footer .footer-bottom p {
		margin-top: 0;
	}
  
  .category .grid-col {
	  float: none;
	  width: 100%;
  }

  .item-page .item-left {
	  margin-top: 20px;
  }

	.item-comments form {
		width: 100%;
	}

	.portal-news .news-img {
		float: left;
		width: 78px;
		margin-bottom: 0;
	}

	.portal-news .news-right {
		margin-left: 98px;
	}

	#searchForm strong {
		float: none;
		display: block;
		margin-bottom: 10px;
	}

	#searchForm label.custom-checkbox {
		float: none;
	}
}

@media only screen and (max-width: 480px) {
	#topline .logo {
		width: 30px;
	}

	.content-col h2,
	#item h1,
	#item h2 {
		margin: 0px 0px 0.7em;
		font-size: 1.5em;
		line-height: 1.2em;
	}

	#item h1 {
		margin-bottom: 0.6em;
	}

	#item h2.gray-text {
		font-size: 1.2em;
		line-height: 1.3em;
	}

	#category li.item-comment {
		float: left;
		margin: 0px 14px 0 24px;
	}

	.item-comments input[type="text"] {
		width: 100%;
	}

	.portal-news .news-img {
		float: none;
		width: 100%;
		margin-bottom: 0.5em;
	}

	.portal-news .news-right {
		margin-left: 0;
	}

  #comments-form-captcha {
	  width: 140px;
  }

	.item-page .best-joomla:not(.minimal) {
		padding-bottom: 20px;
	}

	#searchForm .selectric-wrapper {
		float: none;
		margin: 10px;
	}
}

@media only screen and (max-width: 360px) {
	.best-joomla .slideup-block, .best-joomla .slidedown-block {

	}
}


/* alerts */

.alert {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    margin-bottom: 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert, .alert h4 {
    color: #c09853;
}
.alert h4 {
    margin: 0;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}
.alert-success h4 {
    color: #468847;
}
.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.alert-danger h4, .alert-error h4 {
    color: #b94a48;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}
.alert-info h4 {
    color: #3a87ad;
}
.alert-block {
    padding-bottom: 14px;
    padding-top: 14px;
}
.alert-block > p, .alert-block > ul {
    margin-bottom: 0;
}
.alert-block p + p {
    margin-top: 5px;
}

.alert .close {
    line-height: 18px;
    position: relative;
    right: -21px;
    top: -2px;
}

.alert a.close {
    color: #000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #ffffff;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    text-decoration: none;
}
.alert a.close:hover, a.close:focus {
    color: #000;
    cursor: pointer;
    opacity: 0.4;
    text-decoration: none;
}

/* tooltip */

.tooltip {
    display: block;
    font-size: 11px;
    line-height: 1.4;
    opacity: 0;
    position: absolute;
    visibility: visible;
    z-index: 1030;
}
.tooltip.in {
    opacity: 0.8;
}
.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}
.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}
.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}
.tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}
.tooltip-inner {
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    max-width: 200px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}
.tooltip-arrow {
    border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #000;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #000;
    border-width: 5px 5px 5px 0;
    left: 0;
    margin-top: -5px;
    top: 50%;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #000;
    border-width: 5px 0 5px 5px;
    margin-top: -5px;
    right: 0;
    top: 50%;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #000;
    border-width: 0 5px 5px;
    left: 50%;
    margin-left: -5px;
    top: 0;
}

#item .item-date{
    margin: -10px 0 10px 0;
    font-size: 0.7em;
    color: #999;
}

/*======================================
  Selectric v1.9.3
======================================*/
.selectric-wrapper {
	position: relative;
	cursor: pointer;
}

.selectric-responsive {
	width: 100%;
}

.selectric {
	border: 1px solid #ccc;
	background: #fff;
	position: relative;
	border-radius: 2px;
}
.selectric .label {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 32px 0 9px !important;
	font-size: 14px;
	line-height: 32px !important;
	color: #333;
	height: 32px;
}
.selectric .button {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 32px;
	height: 32px;
	color: #BBB !important;
	text-align: center;
	font: 0/0 a;
	*font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
	background: none;
}
.selectric .button:after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top-color: #BBB;
	border-bottom: none;
}

.selectric-hover .selectric {
	border-color: #C4C4C4;
}
.selectric-hover .selectric .button {
	color: #A2A2A2;
}
.selectric-hover .selectric .button:after {
	border-top-color: #A2A2A2;
}

.selectric-open {
	z-index: 9999;
}
.selectric-open .selectric {
	border-color: #C4C4C4;
}
.selectric-open .selectric-items {
	display: block;
}

.selectric-disabled {
	filter: alpha(opacity=50);
	opacity: 0.5;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectric-hide-select {
	position: relative;
	overflow: hidden;
	width: 0;
	height: 0;
}
.selectric-hide-select select {
	position: absolute;
	left: -100%;
	display: none;
}

.selectric-input {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	outline: none !important;
	border: none !important;
	*font: 0/0 a !important;
	background: none !important;
}

.selectric-temp-show {
	position: absolute !important;
	visibility: hidden !important;
	display: block !important;
}

/* Items box */
.selectric-items {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #F8F8F8;
	border: 1px solid #C4C4C4;
	z-index: -1;
	box-shadow: 0 0 10px -6px;
}
.selectric-items .selectric-scroll {
	height: 100%;
	overflow: auto;
}
.selectric-above .selectric-items {
	top: auto;
	bottom: 100%;
}
.selectric-items ul, .selectric-items li {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 20px;
	min-height: 20px;
}
.selectric-items li {
	display: block;
	padding: 8px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #EEE;
	color: #666;
	cursor: pointer;
}
.selectric-items li.selected {
	background: #EFEFEF;
	color: #444;
}
.selectric-items li:hover {
	background: #F0F0F0;
	color: #444;
}
.selectric-items .disabled {
	filter: alpha(opacity=50);
	opacity: 0.5;
	cursor: default !important;
	background: none !important;
	color: #666 !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
	font-weight: bold;
	padding-left: 10px;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: none;
	color: #444;
}
.selectric-items .selectric-group.disabled li {
	filter: alpha(opacity=100);
	opacity: 1;
}
.selectric-items .selectric-group li {
	padding-left: 25px;
}


/* jpauthor */
.jp-author{
    margin: 8px 0;
    padding: 7px;
    border-top: 1px dotted #ccc;
}
.jp-author-avatar{
    border: 1px solid #EBF0F4;
    float: left;
    overflow: hidden;
    padding: 3px;
    position: relative;
    top: 0;
    vertical-align: top;
}
.jp-author-data{
    font-size: 0.9em;
}
.jp-author-desc{
    margin-top: 5px;
}
.jp-author-info{
    padding-top: 3px;
    margin-left: 100px;
}
.jp-author-info h3{
    line-height: 1;
    margin: 0;
}
.jp-author-social{
    margin-top: 5px;
}
.jp-author-social a{
    opacity: 0.7;
}
.jp-author-social a:hover{
    opacity: 1;
}
.i-social{
    vertical-align: bottom;
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
    margin:0 4px 4px 0;
    outline: none;
}
.i-facebook{
    background: url('../images/icons.png') -0px 0 no-repeat;
}
.i-google{
    background: url('../images/icons.png') -24px 0 no-repeat;
}
.i-linkedin{
    background: url('../images/icons.png') -48px 0 no-repeat;
}
.i-twitter{
    background: url('../images/icons.png') -72px 0 no-repeat;
}
.i-vk{
    background: url('../images/icons.png') -96px 0 no-repeat;
}
.i-website{
    background: url('../images/icons.png') -120px 0 no-repeat;
}
.i-joomlaforum{
    background: url('../images/icons.png') -144px 0 no-repeat;
}

.jp-author-articles {
    padding-top: 3px;
    margin-left: 100px;
}

.jp-author-articles h3 {
    margin: 5px 0;
}

.jp-author-articles ul {
    padding: 5px;
}

.btn.edit-button{
    margin-top: 0;
    margin-bottom: 1em;
}